# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Google Drive\Alvaro\Mision TIC\Ciclo 1\Programacion Basica\Ejercicios\HoraFutura\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
